<!-- <div class="site-top" style="background-image: url(https://bootstrap-themes.github.io/application/assets/img/iceland.jpg);"> -->
<div class="site-top" style="background-image: url({{site.baseurl}}/static/bereich1.jpg);">
    <!-- Header für Bereiche START -->
    <div class="overlay"></div>
    <div class="container">
        <div class="row align-items-center">
            <div class="mx-auto col-lg-offset-2 col-md-offset-1">
                <div class="site-heading">
                    <h1>Bereiche</h1>
                    <span class="subheading">Die Bereiche unserer Gemeinde</span>
                </div>
            </div>
        </div>
    </div>
    <!-- Header für Bereiche ENDE -->
    <!-- Zweite Navigation für Bereiche START -->
    <nav class="zw-nav">
    <ul class="nav justify-content-center">
      <li class="nav-item active">
        <a class="nav-link" href="{{site.baseurl}}/bereiche/">Übersicht</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{site.baseurl}}/bereiche/1.html">Bereich 1</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Bereich 2</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Bereich 3</a>
      </li>
    </ul>
    </nav>
    <!-- Zweite Navigation für Bereiche ENDE -->
</div>
